{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<div class="col-md-4 mx-auto">
    <h1>Регистрация</h1>
    <form method="POST">
        <div class="mb-3"><input name="username" class="form-control" placeholder="Имя пользователя" required></div>
        <div class="mb-3"><input name="email" type="email" class="form-control" placeholder="Email" required></div>
        <div class="mb-3"><input name="password" type="password" class="form-control" placeholder="Пароль" required></div>
        <div class="mb-3"><input name="password2" type="password" class="form-control" placeholder="Повторите пароль" required></div>
        <button class="btn btn-dark w-100">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}
